{{- if .NeedSecret }}
apiVersion: v1
data:
  .dockerconfigjson: {{.ImageSecretDockerConfigJson}}
kind: Secret
metadata:
  name: tigera-pull-secret
  namespace: tigera-operator
type: kubernetes.io/dockerconfigjson
{{- end }}